@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h2>Rol Güncelleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="RoleID"/>
    <label>Rol Adı</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn btn-rounded btn-outline-success">Bilgileri Kaydet</button>
</form>